{% extends 'base.html.twig' %}

{% block title %}
    {% if orders|length == 0 %}
        {{ "client's orders not found"|trans }}
    {% elseif query is empty %}
        {{ "client's orders"|trans }}
    {% else %}
        {{ "search results"|trans }}: {{ query }}
    {% endif %}
{% endblock %}

{% block body %}
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="/orders">{{ "client's orders"|trans }}</a>

            {% include 'orders/search_form.html.twig' %}
        </div>
    </nav>

	<div class="container">
        <div class="row mt-5 text-center">
            {% if orders|length > 0 %}
                {% include 'orders/table.html.twig' %}
            {% else %}
                <h3>
                    {% if query is empty %}
                        {{ "client's orders not found"|trans }}
                    {% else %}
                        {{ "query not found"|trans({query} )}}
                    {% endif %}
                </h3>
            {% endif %}
        </div>
	</div>
{% endblock %}
