<table class="table table-striped text-center">
	<thead>
		<tr>
			{% for col in cols %}
				<th scope="col">
					{% if col in sortableCols %}
						{% if sortBy == col %}
							<small>{{ sortOrderIcon(sortOrder)|raw }}</small>
						{% endif %}

						<a href="{{ path('orders_index', { 'q': query, 'sort_by': col, 'sort_order': sortBy == col ? toggleSortOrder(sortOrder) : defaultSortOrder } ) }}">
							{{ col|trans }}
						</a>
					{% else %}
						{{ col|trans }}
					{% endif %}
				</th>
			{% endfor %}
		</tr>
	</thead>

	<tbody>
		{% for order in orders %}
			<tr>
				{% for col in cols %}
					<td>
						{{ include('orders/table_order_cell.html.twig', {order, col}) }}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
