<table class="table table-striped text-center">
	<thead>
		<tr>
			{% for row in rows %}
				<th scope="col">
					{% if row in availableSort %}
						{% if sortBy == row %}
							{% if sortOrder == constant('App\\Enum\\SortDirection::ASC').value %}
								<small>&#9652;</small>
							{% else %}
								<small>&#9662;</small>
							{% endif %}
						{% endif %}

						<a href={{ path('orders_index', {
							'q': query,
							'sort_by': row,
							'sort_order': (sortBy == row and sortOrder != constant('App\\Enum\\SortDirection::DESC').value)
								? constant('App\\Enum\\SortDirection::DESC').value
								: constant('App\\Enum\\SortDirection::ASC').value
						}) }}>

							{{ row|humanize }}
						</a>
					{% else %}
						{{ row|humanize }}
					{% endif %}
				</th>
			{% endfor %}
		</tr>
	</thead>

	<tbody>
		{% for order in orders %}
			<tr>
				{% for row in rows %}
					<td>
						{% if attribute(order, row).timestamp is defined %}
							{{ attribute(order, row)|date('Y-m-d H:i') }}
						{% elseif row == 'invoiced' %}
							{{ order.invoiced ? 'Yes' : 'No' }}
						{% else %}
							{{ attribute(order, row) }}
						{% endif %}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
